/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


body {
  background-color: #D40808;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Mansalva', cursive;
}

.imgFixedHeight {
  width: 240px;
  height: 240px;
}

.imgSmallFixedHeight {
  width: 80px;
  height: 80px;
}

.loadingMe {
  position: absolute;
  top: 96px;
  left: 96px;
}