/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


body {
  background-color: #D40808;
}

h1, h2 {
  font-family: 'Mansalva', cursive;
}

.imgFixedHeight {
  width: 240px;
  height: 240px;
}